<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:component-scan base-package="com.wang"/>
	<context:annotation-config />
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
			</list>
		</property>
	</bean>
	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${database.driverClassName}" />
		<property name="jdbcUrl" value="${database.url}" />
		<property name="user" value="${database.username}" />
		<property name="password" value="${database.password}" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource" />

		<!-- <property name="mapperLocations" value="classpath:conf/map/*.xml"/> -->
		<property name="typeAliasesPackage" value="com.wang.domain" />

	</bean>

	<bean id="sqlSessionTemplateBatch" class="org.mybatis.spring.SqlSessionTemplate"
		  scope="prototype">
		<constructor-arg index="0" ref="sqlSessionFactory" />
		<!--更新采用批量模式 -->
		<!-- <constructor-arg index="1" value="BATCH"/> -->
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.wang.dao" />
		<!-- <property name="markerInterface" value="cn.springmvc.dao.Sqlmaper"/> -->
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplateBatch" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>


	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource" />
	</bean>
	<!-- 邮件系统 -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="protocol" value="smtp"/>
		<property name="host" value="smtp.163.com"/>
		<property name="port" value="25" /><!--Gmail的SMTP端口居然是这个，去google网站上了解吧-->
		<property name="username" value="18701113061@163.com"/>
		<property name="password" value="123456789wwx"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<bean id="test" class="com.wang.util.MailSender">
		<property name="javaMailSender" ref="javaMailSender" />
	</bean>

	<bean class="com.wang.serivce.message.impl.UserMessageHandle">
		<property name="messageDao" ref="messageDao" />
	</bean>

	<!--<bean class="com.wang.serivce.message.impl.OrgMessageHandle">-->
		<!--<property name="orgMessageDao" ref="orgMessageDao" />-->
	<!--</bean>-->

	<bean name="springUtils" class="com.wang.util.SpringUtils"/>

	<bean class="com.wang.cache.OrgCache">
		<property name="orgMessageDao" ref="orgMessageDao" />
	</bean>

</beans>
