<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
</head>
<body>

<div class="body-loading">
    <i class="fa fa-spinner fa-pulse"></i><br>
    loading
</div>

<div class="base">
    <div class="left-base">
        <!-- 我的基本资料 -->
        <div class="my-info">
            <img src="../img/photo.jpg" class="img-thumbnail">
            <div class="name-desc">
                <div class="my-name"></div>
                <div class="my-desc">该用户没有说明</div>
            </div>
        </div>
        <!-- 我的基本资料 -->
        <!-- 我的面板 -->
        <div class="my-menu">
            <div class="menu-top">会话</div>
            <div class="menu-middle">
                <!-- 我的会话 -->
                <div class="my-talking menu">
                    <li _type="user" _id="1">
                        <img src="../img/custom.png">
                        <div class="name-desc">
                            <div class="talking-name">TOP</div>
                            <div class="talking-desc">我的心情</div>
                        </div>
                        <i class="fa fa-circle-o"></i>
                    </li>
                    <li _type="org" _id="2">
                        <i class="fa fa-comments"></i>
                        <div class="name-desc">
                            <div class="talking-content">技术</div>
                        </div>
                        <i class="fa fa-dot-circle-o"></i>
                    </li>
                    <li _type="system">
                        <i class="fa fa-bullhorn"></i>
                        <div class="name-desc">
                            <div class="talking-name">系统消息</div>
                            <div class="talking-desc">TOP&nbsp;请求添加你为好友</div>
                        </div>
                        <i class="fa fa-circle-o"></i>
                    </li>
                </div>
                <!-- 我的会话 -->

                <!-- 我的好友 -->
                <div class="my-friend menu">
                    <input placeholder="搜索">

                </div>
                <!-- 我的好友 -->

                <!-- 我的组织 -->
                <div class="my-organized menu">
                    <div class="organization-top">
                        <div class="organization-menu organization-selected">
                            我的组织
                        </div>
                        <div class="organization-menu">
                            所有组织
                        </div>
                    </div>
                    <div class="organization-option organization-myOrg">
                        <div class="organization-body">

                        </div>
                    </div>

                    <div class="organization-option organization-allOrg">
                        <div class="organization-guide">
                            <a class="guide-point guide-now" _index="1">首页</a>
                        </div>
                        <div class="organization-body">
                        </div>
                    </div>

                    <div class="organization-option organization-loading">
                        <i class="fa fa-spinner fa-pulse"></i><br>
                        loading
                    </div>


                </div>
                <!-- 我的组织 -->

                <!-- 我的设置 -->
                <div class="my-setting menu">
                    <div class="setting-info">个人资料
                        <a href="#" class="change-my-info">修改</a>
                    </div>
                    <div class="setting-organization">我的组织
                        <a href="#" id="change-org-list">设置</a>
                    </div>
                    <div class="setting-attention">消息声音
                        <i class="fa fa-toggle-off"></i>
                    </div>
                    <div class="setting-about">关于
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <button type="button" class="btn btn-danger">退出当前账号</button>
                </div>
                <!-- loading状态 -->
                <div class="my-loading menu my-selected">
                    <i class="fa fa-spinner fa-pulse"></i><br>
                    loading
                </div>
            </div>
            <div class="menu-bottom">
                <li class="selected" style="border-radius: 0px 0px 0px 5px;">
                    <i class="fa fa-comments"></i><br>会话
                </li>
                <li>
                    <i class="fa fa-user"></i><br>好友
                </li>
                <li>
                    <i class="fa fa-users"></i><br>组织
                </li>
                <li style="border-radius: 0px 0px 5px 0px;border-width:0px 0px 0px 0px;">
                    <i class="fa fa-cog"></i><br>设置
                </li>
            </div>
        </div>
        <!-- 我的面板 -->
    </div>
    <!-- 左边div -->

    <!-- 右边div -->
    <div class="right-base">
        <div class="right-top">产品</div>
        <div class="right-body">
            <div class="talking-body">
                <li class="li-time">
                    2016-1-10 19:42
                </li>
                <li class="notice">这是系统消息</li>
                <li class="li-left">
                    <img src="../img/photo.jpg" alt="头像" class="photo">
                    <div class="chatBox">
                        <div class="chatName">用户名</div>
                        <br>
                        <div class="chatCon"> 你好fewfwef</div>
                    </div>
                </li>
                <li class="li-right">
                    <img src="../img/photo.jpg" alt="头像" class="photo">
                    <div class="chat">hello</div>
                </li>
                <li class="li-left">
                    <img src="../img/photo.jpg" alt="头像" class="photo">
                    <div class="chatBox">
                        <div class="chatName">用户名</div>
                        <br>
                        <div class="chatCon"><img src="../img/photo.jpg" alt="头像"></div>
                    </div>
                </li>
                <li class="li-left">
                    <img src="../img/photo.jpg" alt="头像" class="photo">
                    <div class="chatBox">
                        <div class="chatName">用户名</div>
                        <br>
                        <div class="chatCon">
                            你好fewfwef你好fewfwef你好fewfwef你好fewfwef你好fewfwef你好fewfwef你好fewfwef你好fewfwef你好fewfwef你好fewfwef你好fewfwef
                        </div>
                    </div>
                </li>
            </div>
            <div class="something-list">
                <div>用户列表</div>
                <div>共享文件</div>
                <ul class="user-list">
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                    <li><i class="fa fa-user"></i>&nbsp;用户名</li>
                </ul>
                <ul class="file-list list-selected">
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="right-send">发送</div>
            <div class="right-box">
                <i class="fa fa-smile-o"></i>
                <i class="fa fa-file-image-o"></i>
                <i class="fa fa-file-o"></i>
            </div>
            <textarea class="right-input" type="text" placeholder="请输入..."></textarea>

        </div>
    </div>
    <!-- 右边div -->

    <!-- 右边div -->
    <div class="right-base">
        <div class="right-top">用户名</div>
        <div class="right-body">
            <div class="talking-body">
                <li class="li-time">
                    2016-1-10 19:42
                </li>
                <li class="notice">这是系统消息</li>
                <li class="li-left">
                    <img src="../img/photo.jpg" alt="头像" class="photo">
                    <div class="chat">你好</div>
                </li>
                <li class="li-right">
                    <img src="../img/photo.jpg" alt="头像" class="photo">
                    <div class="chat">hello</div>
                </li>
                <li class="li-left">
                    <img src="../img/photo.jpg" alt="头像" class="photo">
                    <div class="chat"><img src="../img/photo.jpg" alt="头像"></div>
                </li>
                <li class="li-left">
                    <img src="../img/photo.jpg" alt="头像" class="photo">
                    <div class="chat">你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</div>
                </li>
            </div>
            <div class="something-list">
                <div>文件列表</div>
                <ul class="file-list list-selected">
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                    <li><i class="fa fa-file"></i>&nbsp;文件名文件名文件名文件名</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="right-send">发送</div>
            <div class="right-box">
                <i class="fa fa-smile-o"></i>
                <i class="fa fa-file-image-o"></i>
                <i class="fa fa-file-o"></i>
            </div>
            <textarea class="right-input" type="text" placeholder="请输入..."></textarea>

        </div>
    </div>

    <div class="right-base" id="window-sys-0">
        <div class="right-top">系统消息</div>
        <div class="right-body-sys">
            <div class="chat-box">
                <div class="chat">你好</div>
            </div>
        </div>
        <div class="right-box-sys">
        </div>
    </div>
    <!-- 右边div -->
</div>



<span class="error-msg">
</span>

<script data-main="js/main" src="../js/lib/require.js"></script>

<div class="modal fade bs-example-modal-sm user-info-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="user_photo" src="../img/photo.jpg">
                <div class="user-name">Test</div>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" data-toggle="modal" data-target=".user-info-modal" class="btn btn-default close-friend-modal">关闭窗口</button>
                    <button type="button" class="btn btn-default myself-friend" _id="0">添加好友</button>
                    <button type="button" class="btn btn-default creat-user-talking" _id="0">发起聊天</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm org-info-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="org-logo"><i class="fa fa-spinner fa-pulse"></i></span>
                <div class="org-name">Test</div>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td valign="top">简介:</td>
                        <td>这是部门简介</td>
                    </tr>
                    <tr>
                        <td valign="top">公告:</td>
                        <td>这是部门公告</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" data-toggle="modal" data-target=".org-info-modal" class="btn btn-default close-friend-modal">关闭窗口</button>
                    <button type="button" class="btn btn-default org-manage" _id="0">管理部门</button>
                    <button type="button" class="btn btn-default creat-org-talking" _id="0">发起聊天</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm user-info-change-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="user_photo" src="../img/photo.jpg">
                <div class="user-name">Test</div>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td valign="top">个人说明:</td>
                        <td><textarea class="my-desc-input"></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" data-toggle="modal" data-target=".user-info-change-modal" class="btn btn-default">关闭窗口</button>
                    <button type="button" class="btn btn-default update-user-info" _id="0">保存修改</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="manage-org-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">修改公告</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">基本资料</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">成员管理</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">子类管理</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        1<br>
                        2
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        1<br>
                        2<br>
                        3
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        1<br>
                        2<br>
                        3<br>
                        4
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        1<br>
                        2<br>
                        3<br>
                        4<br>
                        5
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm add-friend-request">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="user_photo" src="../img/photo.jpg">
                <div class="user-name">Test</div>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default reject-friend-request" _id="0">拒绝</button>
                    <button type="button" class="btn btn-default agree-friend-request" _id="0">同意</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>